




<div class="py-4 mb-2">
    <h3 class="d-inline-block">Fill out form to contact me and get newsletters.</h3>
  </div>
<%= formFor(user, {action: usersPath(), method: "POST"}) { %>
    <%= partial("users/form.html") %>
    <%= linkTo(usersPath(), {class: "btn btn-warning", "data-confirm": "Are you sure?", body: "Cancel"}) %>
  <% } %>
  

 