<%= partial("shell/header.html") %>
  <style>
    .profilebg {
      background-image: url("../assets/images/back.png");
      background-size: contain;
      background-repeat: no-repeat;
    }

    @media only screen and (max-width: 1000px) {
      .recipe {
        width: 100% !important;
      }
    }

    @media only screen and (max-width: 600px) {

      .profilebg {
        background-size: cover;

      }

      .recipe {
        width: 100% !important;
      }
    }
  </style>
  <script>
    document.addEventListener('DOMContentLoaded', function () {
      var elems = document.querySelectorAll('.collapsible');
      var instances = M.Collapsible.init(elems, options);
    });

    // Or with jQuery

    $(document).ready(function () {
      $('.collapsible').collapsible();
    });
  </script>
  <div class="container">
    <div class="tab-content" id="myTabContent">
      <div class="tab-pane fade  " id="homes" role="tabpanel" aria-labelledby="homes-tab">
        <!-- this is where the dynamic form is -->

        <div class="row recipe">
          <div class="col">
            <div class="card">
              <div class="card-image">

                <img src="assets/images/pi.jpg">

                <span class="card-title">Pizza</span>
                <a class="btn-floating halfway-fab waves-effect waves-light red"><i class="material-icons">add</i></a>
              </div>
              <div class="card-content">
                <p>

                <ul class="collapsible">
                  <li>
                    <div class="collapsible-header"><i class="material-icons">list</i>Ingredients</div>
                    <div class="collapsible-body"><span>
                        <ul>
                          <li>1. Caputo Italian Superfine "00" Farina Flour, 2.2 lbs</li>
                          <li>2. fresh mozzarella</li>
                          <li>3. tomato sauce</li>
                          <li>4. yeast</li>
                          <li>5. Oil</li>
                          <li>6. Stand Mixer</li>
                          <li>7. Cup of water</li>
                          <li>8. Pizza steel</li>
                        </ul>
                      </span></div>
                  </li>
                  <li>
                    <div class="collapsible-header"><i class="material-icons">list</i>Mixing flour</div>
                    <div class="collapsible-body"><span>
                        <ul>
                          <li>1. Mix the yeast and water in the mixer</li>
                          <li>2. Mix slowly the flour in the mixer bowl as well.</li>
                          <li>3. Make sure you don't dry the dough and it does not form a ball.</li>
                          <li>4. Do not let it raise. Use the mix and carefully faltten it with your fingers.</li>
                          <li></li>
                        </ul>
                      </span></div>
                  </li>
                  <li>
                    <div class="collapsible-header"><i class="material-icons">list</i>Cooking the Pizza</div>
                    <div class="collapsible-body"><span>
                        <ul>
                          <li>1. Bake in the oven for 500 degress for 5-7 minutes before adding toppings.</li>
                          <li>2. Take the pizza out and add the sauce and not the cheese yet and put back in for 5-7
                            minutes.</li>
                          <li>3. Put the toppings on and add the cheese and make sure the cheese does not burn.</li>
                        </ul>
                      </span></div>
                  </li>
                </ul>

                </p>
              </div>
            </div>
          </div>
        </div>
        <div style="height:22em; width:100%;">&nbsp;&nbsp; </div>
      </div>
      <div class="tab-pane fade profilebg" id="home" role="tabpanel" aria-labelledby="home-tab">
        <div class="row">
          <div class="col s12 l2 ">
            <div class="card" style="width: 18rem;">
              <img src="assets/images/me2.jpg" style="border-radius: 15px;box-shadow: #0000006e 1px 1px 1px 1px;"
                class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Zachary Endrulat</h5>
                <p class="card-text">Web Developer and lover of Abraham Lincoln books.</p>
                <a href="https://gitlab.com/zendrulat123/fiber" target="_blank"
                  class="btn btn-primary rounded-pill bg-dark"><i class="fab fa-github"></i></a>
                <a href="https://docs.google.com/document/d/1Zb9GCWPKeEJ4Dyn2TkT-O3wJ8AFc-IMxZzTugNCjr-8/edit?usp=sharing"
                  class="btn btn-primary rounded-pill bg-dark" target="_blank">
                  <i class="fas fa-book"></i>
                </a>
                <a href="https://youtu.be/-KOOoDkODE4" target="_blank" class="btn btn-primary rounded-pill bg-dark">
                  <i class="fab fa-youtube"></i>
                </a>
              </div>
            </div>
          </div>

        </div>
      </div>
      <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">

        <center style="margin: 0 auto;width: 50%;">
          <img style="    width: 100%;" class="responsive-img" src="assets/images/b.jpg">

        </center>


        <div class="accordion" id="accordionExample">
          <div class="accordion-item">
            <h2 class="accordion-header" id="headingOne">
              <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne"
                aria-expanded="true" aria-controls="collapseOne">
                <h5>Team of Rivals: The Political Genius of Abraham Lincoln</h5>

              </button>
            </h2>
            <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne"
              data-bs-parent="#accordionExample">
              <div class="accordion-body">
                <strong> - Goodwin, Doris Kearns <br>
                  - Published by Simon & Schuster
                </strong>
                <iframe style="width:100%;height: 22em;" class="d-block w-100"
                  src="https://www.youtube.com/embed/inwPKoGR-xo" frameborder="0"
                  allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                  allowfullscreen></iframe>
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header" id="headingTwo">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                Lincoln and the Election of 1860
              </button>
            </h2>
            <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo"
              data-bs-parent="#accordionExample">
              <div class="accordion-body">
                <strong>By Michael S. Green</strong>
                <iframe
                  src="https://www.facebook.com/plugins/video.php?height=314&href=https%3A%2F%2Fwww.facebook.com%2FAbrahamLincolnBookShop%2Fvideos%2F1257764037928600%2F&show_text=false&width=560"
                  width="560" height="314" style="border:none;overflow:hidden" scrolling="no" frameborder="0"
                  allowfullscreen="true"
                  allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share"
                  allowFullScreen="true"></iframe>
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header" id="headingThree">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                The Zealot and the Emancipator: John Brown, Abraham Lincoln, and the Struggle for American Freedom
              </button>
            </h2>
            <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree"
              data-bs-parent="#accordionExample">
              <div class="accordion-body">
                <strong>By H. W. Brands </strong>
                <iframe width="560" height="315" src="https://www.youtube.com/embed/4vOx7WyFefc" frameborder="0"
                  allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                  allowfullscreen></iframe>
              </div>
            </div>
          </div>
        </div>
        <div style="height:22em; width:100%;">&nbsp;&nbsp; </div>
      </div>

      <div class="tab-pane fade active show" id="contact" role="tabpanel" aria-labelledby="contact-tab">
        <table>
          <thead>
            <tr>
              <th><a href="https://github.com/golangast"><i
                    style="      text-shadow: 2px 2px #00000033;  color: tomato;" class="fab fa-github fa-3x"></i></a>
              </th>
              <th><a href="https://gitlab.com/zendrulat123/"><i class="fab fa-gitlab fa-3x"></i></a></th>
              <th><a
                  href="https://www.youtube.com/watch?v=-KOOoDkODE4&list=PL_sE11fwtBT-0GqVHEX-tYTBzAIGHelQ6&index=2"><i
                    class="fab fa-youtube fa-3x"></i></a></th>
            </tr>
          </thead>

          <tbody>
            <tr>
              <td><a href="https://www.linkedin.com/in/zach-endrulat-1004b7173/"><i
                    class="fab fa-linkedin-in fa-3x"></i></a></td>

            </tr>

          </tbody>
        </table>

        <div class="container">
          <%= partial("forms.html") %>
            <!-- <%= yield %> -->
        </div>


      </div>
      <div class="tab-pane fade " id="go" role="tabpanel" aria-labelledby="go-tab">
        <!-- go -->
        <div class="alert alert-primary" role="alert">
          I would like to start off with my inspirations of Go.
        </div>
        <div class="container">
          <div style="width:100%;" class="row row-cols-2">
            <div class="col">
              <div class="row">

                <div class="card">
                  <div class="card-image">
                    <iframe style="width: 100%;" height="315" src="https://www.youtube.com/embed/rFejpH_tAHM"
                      frameborder="0"
                      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                      allowfullscreen></iframe>

                  </div>
                  <div class="card-content">
                    <p style="text-align:center;">Simplicity is what the language can do for you in the future.</p>
                  </div>

                </div>

              </div>
            </div>
            <div class="col">
              <div class="row">

                <div class="card">
                  <div class="card-image">
                    <iframe style="width:100%;" height="315" src="https://www.youtube.com/embed/oV9rvDllKEg"
                      frameborder="0"
                      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                      allowfullscreen></iframe>
                  </div>
                  <div class="card-content">
                    <p>Parallelism is a hard concept that needs to be understood.</p>
                  </div>

                </div>


              </div>

            </div>
            <div class="alert alert-dark" role="alert" style="width:100%;">
              <a target="_blank" href="https://go.dev/solutions#case-studies">Case Studies</a>
            </div>
            <div class="alert alert-success" role="alert" style="width:100%;">
              The creators of Go. <br>
            </div>
            <div class="row" style="width:100%;">
              <div class="col-4">
                <div class="list-group" id="list-tab" role="tablist">
                  <a class="list-group-item list-group-item-action active" id="list-home-list" data-bs-toggle="list"
                    href="#list-home" role="tab" aria-controls="home">Rob Pike</a>
                  <a class="list-group-item list-group-item-action" id="list-profile-list" data-bs-toggle="list"
                    href="#list-profile" role="tab" aria-controls="profile">Ken Thompson</a>
                  <a class="list-group-item list-group-item-action" id="list-messages-list" data-bs-toggle="list"
                    href="#list-messages" role="tab" aria-controls="messages">Robert Griesemer</a>
                </div>
              </div>
              <div class="col-8">
                <div class="tab-content" id="nav-tabContent">
                  <div class="tab-pane fade show active" id="list-home" role="tabpanel"
                    aria-labelledby="list-home-list"><iframe style="width:100%;" height="315"
                      src="https://www.youtube.com/embed/_2NI6t2r_Hs" frameborder="0"
                      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                      allowfullscreen></iframe></div>
                  <div class="tab-pane fade" id="list-profile" role="tabpanel" aria-labelledby="list-profile-list">
                    <iframe style="width:100%;" height="315" src="https://www.youtube.com/embed/JoVQTPbD6UY"
                      frameborder="0"
                      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                      allowfullscreen></iframe></div>
                  <div class="tab-pane fade" id="list-messages" role="tabpanel" aria-labelledby="list-messages-list">
                    <iframe style="width:100%;" height="315" src="https://www.youtube.com/embed/vLxX3yZmw5Q"
                      frameborder="0"
                      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                      allowfullscreen></iframe></div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <ul class="collection with-header">
          <li class="collection-header">
            <h4>Resources for Learning Go</h4>
          </li>
          <li class="collection-item">
            <div>Google's site<a href="https://learn.go.dev/" target="_blank" class="secondary-content"><i
                  class="material-icons">send</i></a></div>
          </li>
          <li class="collection-item">
            <div>Go by example<a href="https://gobyexample.com/" target="_blank" class="secondary-content"><i
                  class="material-icons">send</i></a></div>
          </li>
          <li class="collection-item">
            <div>My Google Doc<a
                href="https://docs.google.com/document/d/1Zb9GCWPKeEJ4Dyn2TkT-O3wJ8AFc-IMxZzTugNCjr-8/edit#"
                class="secondary-content" target="_blank"><i class="material-icons">send</i></a></div>
          </li>
        </ul>


        <div style="height:22em; width:100%;">&nbsp;&nbsp; </div>
      </div>
      <div class="tab-pane fade " id="Gobuffalo" role="tabpanel" aria-labelledby="Gobuffalo-tab">
        <!-- Gobuffalo -->

        <div class="accordion" id="accordionExample">
          <div class="accordion-item">
            <h2 class="accordion-header" id="headingOne">
              <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne"
                aria-expanded="false" aria-controls="collapseOne">
                Reproducibility
              </button>
            </h2>
            <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne"
              data-bs-parent="#accordionExample">
              <div class="accordion-body">
                <ul>
                  <li>You just need a few commands to create the program.</li>
                  <li>As you code the program rebuilds.</li>
                  <li>Creating the model,database tables, and frontend are in one command</li>
                </ul>
                <br>
                Resource Generation
                <br>

                <iframe src="https://player.vimeo.com/video/212302823" width="640" height="360" frameborder="0"
                  allow="autoplay; fullscreen" allowfullscreen></iframe>
                <p><a href="https://vimeo.com/212302823">Buffalo v0.8.1 - Resource Generation</a> from <a
                    href="https://vimeo.com/markbates">Mark Bates</a> on <a href="https://vimeo.com">Vimeo</a>.</p>


              </div>
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header" id="headingTwo">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                It takes care of a lot of security
              </button>
            </h2>
            <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo"
              data-bs-parent="#accordionExample">
              <div class="accordion-body">
                <ul>
                  <li>It takes care of multisite attacking when using plush syntax</li>
                  <li>It also does a lot of validation and sanitization for you.</li>

                </ul>

              </div>
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header" id="headingThree">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                It also auto updates your backend and frontend.
              </button>
            </h2>
            <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree"
              data-bs-parent="#accordionExample">
              <div class="accordion-body">
                It will update both as you type.
              </div>
            </div>
          </div>
        </div>
        <div style="height:22em; width:100%;">&nbsp;&nbsp; </div>
      </div>
    </div>
  </div>














    <%= partial("shell/footer.html") %>