
 



<footer class="page-footer">
   
    <div class="footer-copyright">
      <div class="container">
    

        <nav class="navbar navbar-expand-lg navbar-light bg-light">
          <div class="container-fluid">
          
           
              <ul class="nav">
                <li class="nav-item">
                  <a class="black-text text-lighten-3" target="_blank" href="https://getbootstrap.com/docs/5.0/components/alerts/">Bootstrap</a>
                </li>
                <li class="nav-item">
                  <a class="black-text text-lighten-3" target="_blank"  href="https://materializecss.com/sidenav.html#!">materializecss</a>
                </li>
                <li class="nav-item">
                  <a class="black-text text-lighten-3" target="_blank"  href="https://www.canva.com/design/">Canva</a>
                </li>
                <li class="nav-item">
                  <a class="black-text text-lighten-3" target="_blank" href="https://gobuffalo.io/en/">Gobuffalo</a>
                </li>  
                <li class="nav-item">
                  <a class="black-text text-lighten-3" target="_blank" href="https://docs.google.com/document/d/1jDNfpHu7c01niKvYN3pQSxtYJNlNpS6JJ1W4py1tI70/edit?usp=sharing">Google doc</a>
                </li>

              </ul>
            </div>
       
        </nav>
        
      <a class="grey-text text-lighten-4 right" target="_blank" href="https://docs.google.com/document/d/1k-F2cyDBPOU_9qbr6sM0YJROOdVCx-2yLk4h9BRoW4Q/edit?usp=sharing">Abraham Lincoln Links</a>
      </div>
    </div>
  </footer>
  <style>
    .page-footer {
      background:#ee6e6e;
      position: fixed;
    width: 100%;
    bottom: 0;
    }
  </style>

<!-- Compiled and minified JavaScript -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>



<script type="text/javascript">
  //https://stackoverflow.com/questions/40742538/clearing-webpack-cache
  var script = document.createElement('script');
  script.type = 'text/javascript';
  script.onload = function () {
    //init();
    $(document).ready(function(){
   $('.sidenav').sidenav();
   $(".dropdown-trigger").dropdown();
    });
   document.addEventListener('DOMContentLoaded', function() {
   var elems = document.querySelectorAll('.sidenav');
  // var instances = M.Sidenav.init(elems, options);
 });
 
     // call other scripts when this file is fully loaded
  };
  script.src = '/public/assets/bundle.js?v=' + Date.now();
  document.getElementsByTagName('body')[0].appendChild(script);//this is how you control where svelte app goes.
</script>
<%= javascriptTag("assets/js/application.js") %>
</body>
</html>