<!DOCTYPE html>
<html>

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta charset="utf-8">
  <title>Buffalo - Site</title>
  <script
  src="https://code.jquery.com/jquery-3.5.1.min.js"
  integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0="
  crossorigin="anonymous"></script>
  <meta name="csrf-param" content="authenticity_token" />
  <meta name="csrf-token" content="<%= authenticity_token %>" />
  <link rel="icon" href="<%= assetPath(" images/favicon.ico") %>">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <!-- <%= stylesheetTag("assets/css/application.scss") %> -->
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
      integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
  <!-- Compiled and minified CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    </head>

<body>

  <!-- Dropdown Structure -->
  <ul id="dropdown1" class="dropdown-content">
    <li><a href="#!">one</a></li>
    <li><a href="#!">two</a></li>
    <li class="divider"></li>
    <li><a href="#!">three</a></li>
  </ul>

  <nav>
    <div class="nav-wrapper">
      <a href="#!" class="brand-logo"><img style="width: 100%;" src="assets/images/Go_gopher_frontpage.png" alt=""></a>
      <a href="#" data-target="slide-out" class="sidenav-trigger"><i class="material-icons">menu</i></a>

      <ul class="nav nav-tabs right hide-on-med-and-down " id="myTab" role="tablist">
      <!-- Dropdown Trigger -->
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">Blog</a>
      <ul class="dropdown-menu">
        <li class="nav-item" role="presentation">
          <a class="nav-link " id="homes-tab" data-bs-toggle="tab" href="#homes" role="tab" aria-controls="homes"
            aria-selected="true">Recipes</a>
        </li>
       
      </ul>
    </li>
        
                 <!-- Dropdown Trigger -->
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">ME</a>
      <ul class="dropdown-menu">
        <li class="nav-item" role="presentation">
          <a class="nav-link " id="homes-tab" data-bs-toggle="tab" href="#homes" role="tab" aria-controls="homes"
            aria-selected="true">Recipes</a>
        </li>
        <li class="nav-item" role="presentation">
          <a class="nav-link " id="home-tab" data-bs-toggle="tab" href="#home" role="tab" aria-controls="home"
            aria-selected="true">Profile</a>
        </li>
        <li class="nav-item" role="presentation">
          <a class="nav-link" id="profile-tab" data-bs-toggle="tab" href="#profile" role="tab" aria-controls="profile"
            aria-selected="false">Books</a>
        </li>
        <li class="nav-item" role="presentation">
          <a class="nav-link active" id="contact-tab" data-bs-toggle="tab" href="#contact" role="tab"
            aria-controls="contact" aria-selected="false">Contact</a>
        </li>
      </ul>
    </li>





          <!-- Dropdown Trigger -->
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">Computer</a>
      <ul class="dropdown-menu">
        <li class="nav-item" role="presentation">
          <a class="nav-link" id="go-tab" data-bs-toggle="tab" href="#go" role="tab" aria-controls="go"
            aria-selected="false">Go</a>
        </li>
        <li class="nav-item" role="presentation">
          <a class="nav-link" id="Gobuffalo-tab" data-bs-toggle="tab" href="#Gobuffalo" role="tab"
            aria-controls="Gobuffalo" aria-selected="false">Gobuffalo</a>
        </li>
        <li><a class="dropdown-item" href="#">Something else here</a></li>
        <li><hr class="dropdown-divider"></li>
        <li><a class="dropdown-item" href="#">Separated link</a></li>
      </ul>
    </li>
      </ul>
    </div>
  </nav>




  <ul id="slide-out" class="sidenav nav collection">
    <li>
      <div class="user-view">
        <div class="background">
          <img src="assets/images/pro.jpg" alt="">

          <!-- <img src="assets/images/back.png"> -->
        </div>
        <a href="#user"><img class="circle" src="assets/images/me2.jpg"></a>
        <a href="#name"><span class="white-text name">Zachary Endrulat</span></a>
        <a href="#email"><span class="white-text email">zendrulat@gmail.com</span></a>
      </div>
    </li>


    <li class="nav-item" role="presentation"></li><a style="height: 3em;width: 100%;"
      class="nav-link active collection-item" id="homes-tab" data-bs-toggle="tab" href="#homes" role="tab"
      aria-controls="homes" aria-selected="true"><i class="material-icons">cloud</i>Recipes</a></li>
    <li class="nav-item" role="presentation"></li><a style="height: 3em;width: 100%;" class="nav-link collection-item"
      id="home-tab" data-bs-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Profile</a>
    </li>
    <li class="nav-item" role="presentation"></li><a style="height: 3em;width: 100%;" class="nav-link collection-item"
      id="profile-tab" data-bs-toggle="tab" href="#profile" role="tab" aria-controls="profile"
      aria-selected="false">Books</a></li>
    <li class="nav-item" role="presentation"></li> <a style="height: 3em;width: 100%;" class="nav-link collection-item"
      id="contact-tab" data-bs-toggle="tab" href="#contact" role="tab" aria-controls="contact"
      aria-selected="false">Contact</a></li>
    <li class="nav-item" role="presentation"></li> <a style="height: 3em;width: 100%;" class="nav-link collection-item"
      id="go-tab" data-bs-toggle="tab" href="#go" role="tab" aria-controls="go" aria-selected="false">Go</a></li>
    <li class="nav-item" role="presentation"></li> <a style="height: 3em;width: 100%;" class="nav-link collection-item"
      id="Gobaffalo-tab" data-bs-toggle="tab" href="#Gobaffalo" role="tab" aria-controls="Gobaffalo"
      aria-selected="false">Gobuffalo</a></li>


  </ul>














  <!-- <ul class="sidenav nav collection" id="mobile-demo"  role="tablist">
    <li class="nav-item" role="presentation"></li><a style="height: 3em;width: 100%;" class="nav-link active collection-item" id="homes-tab" data-bs-toggle="tab" href="#homes" role="tab" aria-controls="homes"
    aria-selected="true">Recipes</a></li>
    <li class="nav-item" role="presentation"></li><a style="height: 3em;width: 100%;" class="nav-link collection-item" id="home-tab" data-bs-toggle="tab" href="#home" role="tab" aria-controls="home"
      aria-selected="true">Profile</a></li>
    <li class="nav-item" role="presentation"></li><a style="height: 3em;width: 100%;" class="nav-link collection-item" id="profile-tab" data-bs-toggle="tab" href="#profile" role="tab" aria-controls="profile"
      aria-selected="false">Books</a></li>
    <li class="nav-item" role="presentation"></li> <a style="height: 3em;width: 100%;" class="nav-link collection-item" id="contact-tab" data-bs-toggle="tab" href="#contact" role="tab" aria-controls="contact"
      aria-selected="false">Contact</a></li>
      <li class="nav-item" role="presentation"></li> <a style="height: 3em;width: 100%;" class="nav-link collection-item" id="go-tab" data-bs-toggle="tab" href="#go" role="tab" aria-controls="go"
      aria-selected="false">Go</a></li>
  </ul> -->
  <style>
    .nav-wrapper {
      background: #f118ff82 !important;
    }

    .nav {
      display: block !important;
    }

    .nav-link {
      padding: .1em 2em;
    }

    nav .brand-logo {
      left: 13%;
    width: 6%;
    }

    nav .brand-logo img {
      width: 100%;
    }
    .nav-tabs .nav-link {
    color: black;
    }

    @media only screen and (max-width: 992px) {
      nav .brand-logo {
        width: 8%;
      }

      nav .brand-logo img {
        width: 100% !important;
      }
    }

    @media only screen and (max-width: 600px) {
      .nav-item {
        width: 20%
      }

      .nav-item a {
        color: black;
        font-size: 76%;

        height: 6em;
      }
    }
  </style>


