<div class="py-4 mb-2">
  <h3 class="d-inline-block">User Details</h3>

  <div class="float-right">
    <%= linkTo(usersPath(), {class: "btn btn-info"}) { %>
      Back to all Users
    <% } %>
    <%= linkTo(editUserPath({ user_id: user.ID }), {class: "btn btn-warning", body: "Edit"}) %>
    <%= linkTo(userPath({ user_id: user.ID }), {class: "btn btn-danger", "data-method": "DELETE", "data-confirm": "Are you sure?", body: "Destroy"}) %>
  </div>
</div>



<ul class="list-group mb-2 ">


  <li class="list-group-item pb-1">
    <label class="small d-block">Name</label>
    <p class="d-inline-block"><%= user.Name %></p>
  </li>



  <li class="list-group-item pb-1">
    <label class="small d-block">Email</label>
    <p class="d-inline-block"><%= user.Email %></p>
  </li>



  <li class="list-group-item pb-1">
    <label class="small d-block">PasswordText</label>
    <p class="d-inline-block"><%= user.PasswordText %></p>
  </li>


</ul>
